<a href="/" class="btn btn-primary">Back to People</a>
<hr>
<h1>{{person.fname}} {{person.lname}}</h1>
<b>{{person.tel}}</b>
<hr>
<address>
    {{person.address}}<br/>
    {{person.city}}, {{person.state}} {{person.zip}}
</address>