<!doctype html>
<html ng-app>
  <head>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="script.js"></script>
  </head>
  <body>
    <div ng-controller="UserForm">
    
      <form name="myForm">
    
        <label>Name:</label><br/>
        <input type="text" ng-model="form.name" required/> <br/><br/>
    
        <label>Address:</label> <br/>
        <input type="text" ng-model="form.address.line1" size="33" required/> <br/>
        <input type="text" ng-model="form.address.city" size="12" required/>,
        <input type="text" ng-model="form.address.state" size="2"
               ng-pattern="state" required/>
        <input type="text" ng-model="form.address.zip" size="5"
               ng-pattern="zip" required/><br/><br/>
    
        <label>Contacts:</label>
        [ <a href="" ng-click="addContact()">add</a> ]
        <div ng-repeat="contact in form.contacts">
          <select ng-model="contact.type">
            <option>email</option>
            <option>phone</option>
            <option>pager</option>
            <option>IM</option>
          </select>
          <input type="text" ng-model="contact.value" required/>
           [ <a href="" ng-click="removeContact($index)">X</a> ]
        </div>
      <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
      <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
    </form>
    
    <hr/>
    Debug View:
    <pre>form={{form}}</pre>
    </div>
  </body>
</html>
