<!doctype html>
<html ng-app="deepLinking">
<head>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0-rc.2/angular-sanitize.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
<div ng-controller="AppCntl">
    <h1>Your App Chrome</h1>
    [ <a href="welcome">Welcome</a> | <a href="settings">Settings</a> ]
    <hr/>
      <span class="partial-info">
        Partial: {{$route.current.template}}
      </span>

    <div ng-view></div>
    <small>Your app footer</small>
</div>
</body>
</html>
